/* ToolBox.css */
.gallery-container {
    display: flex;
    justify-content: center; /* Center children horizontally in the container */
    align-items: center; /* Center children vertically in the container */
    height: 100vh; /* Make the container take up the full height of the viewport */
    gap: 10px; /* Adjust the space between the items if needed */
  }
  
  .gallery-column {
    margin: 0; /* No margin for columns */
    text-align: center;
    background: transparent; /* Ensure the background is transparent */
  
    width: 150px; 
    height: auto; 
  }
  
  .gallery-image {
    display: block;
    max-width: 100%;
    max-height: 100%; 
    border: 2px solid #ffffff; 
    box-sizing: border-box; 
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: black; /* This will not affect the transparency of .gallery-column */
  }
  