
/* Notebook */
.notebook-button {
  position: absolute;
  top: 6vh;
  left: 1vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(242, 113, 122, 0.4), rgba(168, 206, 255, 0.4));
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-in-out;
  width: 4vh;
  height: 4vh;
  font-size: 1vh;

  @media (max-width: 768px) {
    font-size: 3vw;
    width: 8vw;
    height: 8vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 2vw;
    width: 6vw;
    height: 6vw;
  }

  @media (min-width: 1024px) {
    font-size: 1vw;
    width: 4vw;
    height: 4vw;
  }
}