
/* Controls */

.volumes-button {
  position: absolute;
  top: 3vw;
  left: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /*background: linear-gradient(to right, rgba(245, 125, 50, 1), rgba(239, 89, 102, 1));*/
  background: linear-gradient(to right, rgba(165, 63, 91, 1), rgba(89, 38, 81, 1));
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-in-out;
  width: 4vh;
  height: 4vh;
  font-size: 1vh;

  @media (max-width: 768px) {
    font-size: 3vw;
    width: 8vw;
    height: 8vw;
    top: 5vw;
    left: 5vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 2vw;
    width: 6vw;
    height: 6vw;
    top: 2vw;
    left: 2vw;
  }

  @media (min-width: 1024px) {
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
    top: 1.5vw;
    left: 1.5vw;
  }
}


.controls-button {
  position: absolute;
  top: 13vw;
  left: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /*background: linear-gradient(to right, rgba(245, 125, 50, 1), rgba(239, 89, 102, 1));*/
  background: linear-gradient(to right, rgba(165, 63, 91, 1), rgba(89, 38, 81, 1));
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-in-out;
  width: 4vh;
  height: 4vh;
  font-size: 1vh;

  @media (max-width: 768px) {
    font-size: 3vw;
    width: 8vw;
    height: 8vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 2vw;
    width: 8vw;
    height: 8vw;
  }

  @media (min-width: 1024px) {
    font-size: 3vw;
    width: 7vw;
    height: 7vw;
  }
}

.controls-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-content {
  font-size: 36px;
}

/* Notebook */
.notebook-button {
  position: absolute;
  top: 23vw;
  left: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(to right, rgba(165, 63, 91, 1), rgba(89, 38, 81, 1));
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-in-out;
  width: 4vh;
  height: 4vh;
  font-size: 1vh;

  @media (max-width: 768px) {
    font-size: 3vw;
    width: 8vw;
    height: 8vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 2vw;
    width: 8vw;
    height: 8vw;
  }

  @media (min-width: 1024px) {
    font-size: 3vw;
    width: 7vw;
    height: 7vw;
  }
}

.notebook-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}