.app-container {
  position: relative;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
}

.launch-button {
  background: linear-gradient(to bottom, #f2717a, #a8ceff);
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Arial';
	
	position: absolute;
  bottom: 50vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
	
	
	padding: 3vh 5vh;

	
  /*Add media queries for responsive sizing*/
  @media (max-width: 768px) {
		font-size: 5vw;
		width: 60vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
		font-size: 3vw;
		width: 50vw;
  }

  @media (min-width: 1024px) {
		font-size: 2vw;
    width: 20vw;
  }
}

.ombre-button {
  background: linear-gradient(to bottom, #f2717a, #a8ceff);
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Arial';
	
	position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
	
	
	padding: 3vh 5vh;

	
  /*Add media queries for responsive sizing*/
  @media (max-width: 768px) {
		font-size: 5vw;
		width: 60vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
		font-size: 3vw;
		width: 50vw;
  }

  @media (min-width: 1024px) {
		font-size: 2vw;
    width: 20vw;
  }
}

.ombre-button:hover {
  background: linear-gradient(to bottom, #f4607e, #99d4ff);
  font-family: 'Arial';
}

.image-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40vw; 
  max-height: 40vh; 
  width: auto; 
  height: auto; 
 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; /* Hide overflow */
  padding: 10x;
  text-align: center;
}

.image-popup img {
  max-width: 100%; 
  max-height: 100%; 
  height: auto; 
  width: auto; 
}

@media (max-width: 600px) {
  .image-popup {
    max-width: 95vw; 
    max-height: 95vh; 
    padding: 10px; 
  }

  .image-popup img {
    max-width: 100vw; 
    max-height: 100vw; 
    height: auto;
    width: auto; 
  }
}

.image-popup .close-button {
  position: absolute;
  top: 0; 
  right: 0; 
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px; 
}

.ombre-button.clicked {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.start-button 
{
  position: absolute;
  bottom: 18vh;
  font-family: 'Arial';
}


.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  padding: 3vh 5vh;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Arial';
  color: #ffffff;
  z-index: 10;

  /*Add media queries for responsive sizing*/
  @media (max-width: 768px) {
    font-size: 5vw;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 3vw;
  }

  @media (min-width: 1024px) {
    font-size: 2vw;
  }
}

/* .mission-intro-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: white;
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: 10;
  transition: all 0.3s ease;
}

.mission-intro-popup h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mission-intro-popup p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mission-intro-popup button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.mission-intro-popup button:hover {
  background-color: #0056b3;
} */



.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mission-intro-popup {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  /* min-height: 100px;
  max-height: 20%; */
  height: 100px; 
  background: rgb(91, 91, 117);
  border: 2.5px solid #4d1678;
  box-shadow: 0 4px 8px rgba(92, 47, 255, 0.2);
  z-index: 10;
  overflow: hidden;
}

.popup-content {
  display: flex;
  align-items: center; /* Align children vertically in the center */
  height: 100%;
  width: 100%;
}

.character-image img {
  display: block;
  image-rendering: pixelated;
  margin-left: 7px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 12vh; /* Set a fixed width for the image */
  height: auto; /* Adjust height automatically */
  object-fit: contain;
  border: 2px solid #4d1678;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}
          
.text-content {
  flex-grow: 1;
  padding: 8px 20px; /* Adjust padding to your preference */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* Adjust if necessary to take full width */
  height: 100%; /* Auto height to wrap content */
  
  color: rgba(255, 255, 255, 0.849);
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(92, 47, 255, 0.2);
}

.mission-intro-popup h1, .mission-intro-popup p, .mission-intro-popup button {
  font-family: 'Jersey 10', sans-serif; /* Ensure all text has the pixelated font */
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .mission-intro-popup {
    width: 80%; /* Increase the width for mobile to maintain the rectangle shape */
    /* Remove min-height or adjust as needed so it does not force the box to become square */
    min-height: 80  px; /* Adjust height as necessary */
  }

  .character-image img {
    width: 60px; /* Smaller image for mobile */
    margin-left: 7px;
    margin-bottom: 25px;
  }

  .text-content  {  
    padding: 4px 10px; /* Smaller padding for text content on mobile */
  }

  .mission-intro-popup h1 {
    font-size: 5vw;
    /* font-size: 24px; Smaller font size for title on mobile */
  }

  .mission-intro-popup p {
    font-size: 3vw;
    /* font-size: 18px; Smaller font size for message on mobile */
  }

  .mission-intro-popup button {
    padding: 1px 12px; /* Smaller buttons on mobile */
  }
}









